<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>ReaperDoc 2 List Template</title>
</head>

<body>

<div align="center">
  <center>
  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber1" width="100%">
    <tr>
      <td width="60%"><u>
<font face="Courier New" size="5"><b>REAPERDOC 2</b></font></u><div align="left">
        <table border="0" cellpadding="2" style="border-collapse: collapse" bordercolor="#111111" id="AutoNumber2" width="518" cellspacing="1" height="123">
          <tr>
            <td align="right" width="115" height="16"><b><font face="Arial" size="2">Reaper 
            Project</font></b><font face="Arial" size="2"><b>:</b></font></td>
            <td width="403" height="16"><font face="Arial" size="2">##FILE-NAME##</font></td>
          </tr>
          <tr>
            <td align="right" width="115" height="16"><font face="Arial" size="2"><b>Output Name:</b></font></td>
            <td width="403" height="16"><font face="Arial" size="2">##OUTPUT-NAME##</font></td>
          </tr>
          <tr>
            <td align="right" width="115" height="13"><b><font face="Arial" size="2">
            Template</font></b><font face="Arial" size="2"><b> Name:</b></font></td>
            <td width="403" height="13"><font face="Arial" size="2">##TEMPLATE-NAME##</font></td>
          </tr>
          <tr>
            <td align="right" width="115" height="16"><font face="Arial" size="2"><b>
            Version:</b></font></td>
            <td width="403" height="16"><font face="Arial" size="2">##VERSION##</font></td>
          </tr>
          <tr>
            <td align="right" width="115" height="16"><font face="Arial" size="2"><b>
            Tempo:</b></font></td>
            <td width="403" height="16"><font face="Arial" size="2">##TEMPO##</font></td>
          </tr>
          <tr>
            <td align="right" width="115" height="16"><font face="Arial" size="2"><b>
            Sample Rate:</b></font></td>
            <td width="403" height="16"><font face="Arial" size="2">##SAMPLE-RATE##</font></td>
          </tr>
        </table>
      </div>
      </td>
      <td align="left" valign="top"><font face="Arial"><b>
      <font size="2"><br>
      Notes:</font></b><font size="2"><br>
      ##NOTES##</font></font><p>&nbsp;</td>
    </tr>
    <tr>
    <td colspan="2"><font face="Arial">&nbsp;</font><table border="1" cellpadding="3" cellspacing="0" style="border-collapse: collapse" bordercolor="#111111" width="100%" id="AutoNumber3">
      <tr>
        <td bgcolor="#99CCFF" align="center" width="18%" ><b>
        <font face="Arial" size="2">Track</font></b></td>
        <td bgcolor="#99CCFF" align="center" width="60" ><b>
        <font face="Arial" size="2">Volume</font></b></td>
        <td bgcolor="#99CCFF" align="center" width="40" ><b>
        <font face="Arial" size="2">Pan</font></b></td>
        <td bgcolor="#99CCFF" align="center" width="40" ><b>
        <font face="Arial" size="2">Mute/<br>
        Solo</font></b></td>
        <td bgcolor="#99CCFF" align="center" width="18%" ><b>
        <font face="Arial" size="2">Effects</font></b></td>
        <td bgcolor="#99CCFF" align="center" width="18%" ><b>
        <font face="Arial" size="2">Items</font></b></td>
        <td bgcolor="#99CCFF" align="center" width="18%" ><b>
        <font face="Arial" size="2">Sends</font></b></td>
        <td bgcolor="#99CCFF" align="center" width="18%" ><b>
        <font face="Arial" size="2">Receives</font></b></td>
      </tr>

<!-- TRACK-START -->
      <tr>
        <td valign="top" width="18%" >
        <font face="Arial" color="#0000FF" size="2"><b>##TRACK-NUM## 
        (#IF-IN-GROUP&nbsp;&nbsp;&nbsp; </b></font>&nbsp;
        <font face="Arial" color="#0000FF" size="2"><b>##ELSE##END-IF#)(#IF-IS-GROUPGroup 
        ##ELSE##END-IF#)##TRACK-NAME##</b></font></td>
        <td valign="top" align="right" width="60" ><font face="Arial" size="2">##VOLUME##</font></td>
        <td valign="top" width="40" ><font face="Arial" size="2">##PAN##</font></td>
        <td valign="top" align="center" width="40" ><font face="Arial" size="2">##MUTE## ##SOLO##</font></td>
        <td valign="top" width="18%" ><font face="Arial" size="2">##FX-LIST##</font></td>
        <td valign="top" width="18%" ><font face="Arial" size="2">##ITEM-LIST##</font></td>
        <td valign="top" width="18%" ><font face="Arial" size="2">##SEND-LIST##</font></td>
        <td valign="top" width="18%" ><font face="Arial" size="2">##RCV-LIST##</font></td>
      </tr>
<!-- TRACK-END -->


      </table>
    </td>
    </tr>
    <tr>
    	<td colspan="2"><p><br>
        Created ##DATE## - ##TIME##</td>
    </tr>
  </table>
  </center>
</div>

</body>

</html>